body{color:rgb(0,70,0); font-size:24px; background-image:url(f1.png);
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;}
a{color:rgb(32, 149, 0); font-size:24px}
td{color:rgb(0,70,0); font-size:24px}
